body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #00796b!important;
  background-color: black!important;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.frame {
  margin: auto;
  margin-top: 10%;
  max-width: 500px;
  border: 1px solid #00796b;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
    max-width: 420px;
}

.btn-row {
  padding: 1px;
}

.input-screen {
  text-align: right;
  font-size: 1.5em;
  color: #37474f;
  border-bottom: 1px solid #eceff1;
  width:350px;
}

.i-btn {
  font-size: 1.5em;
    border-radius: 5px;
    outline: none;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.btn-success{
  width: 110px;
}
.i-btn:hover {
  color: #e0e0e0;
}



